<div>
    <h2>Stastus</h2>
    <form action="getStatus" method="post">
        <table>
            <tr>
                <td>Enter your id</td>
                <td><input id="id" name="txtIdEnter" type="text"  /></td>
            </tr>
        </table>
        <input id="enter" type="submit" value="submit" />
    </form>
    @ViewBag.status

</div>
