
<body onload="loadDates()">
        <div id="nextweekoptines" class="container">
        </div>
        <br />
        <button type="submit" id="getAllWorkerShifts">chack shifts</button>
        <br />
        <div id="shiftdata"></div>
        <p id="tempload" style="color:red"></p>
        <script>
    function loadDates() {
        document.getElementById("tempload").innerHTML ="loading data from server"
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("nextweekoptines").innerHTML =
                    this.responseText;
                document.getElementById("tempload").innerHTML = ""
            }
        };
        xhttp.open("POST", "@Url.Action("getAllShiftsDates", "Admin")", true);
        xhttp.send();
    }
        </script>

        <script>
        $(document).ready(function () {
            $("#getAllWorkerShifts").click(function () {
                document.getElementById("tempload").innerHTML = "loading data from server"
                $.post("@Url.Action("getOptions", "Admin")", {
                    selected: $("#selectdWeek option:selected").text()
                },
                    function (data, status) {
                        document.getElementById("shiftdata").innerHTML = data;
                        document.getElementById("tempload").innerHTML = ""
                    });
            });
        });
        </script>


</body>